.app-container {
    min-height: 100vh; /* Ensures the container takes at least the full viewport height */
    background: linear-gradient(#FFFFFE, #FFF9B2) no-repeat;
    overflow-y: auto; /* Allows the container to scroll if content exceeds viewport height */
  }